<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <script type="text/javascript" src="./js/plugins/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="./js/hangperson.js"></script>
    <title>Hangperson Game</title>
  </head>
  <body>
    <div id="header" class="span-24">
      <p>Hangperson Game</p>
    </div>

    <div class="container">
      <div class="content">
        <div class="span-24">
          <%= yield %>
        </div>
      </div>
    </div>
    
    <div id="footer" class="span-24">
      <h2>Our thanks to</h2>
      <p>Random word generator service who is providing the words to be used by this game. You can find them at <a href="http://watchout4snakes.com">Watchout4snakes.com</a> -- thanks!</p>
    </div>
    
  </body>
</html>
