<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/default.css" type="text/css">
    <title>Hangperson</title>
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24">
        <p>Play Hangperson!</p>
      </div>
      <div class="span-24">
        <%= yield %>
      </div>
      <div id="footer" class="span-24">
        <p>Random word generator provided by Watchout4snakes.com -- thanks!</p>
      </div>
    </div>
  </body>
</html>
